* {
  margin: 0px;
  padding: 0px;
  color: white;
}
.main {
  margin: 20px;
  display: inline-block;
  white-space: break-spaces;
}
.title {
  color: ghostwhite;
  text-transform: uppercase;
  text-align: end;
  margin-bottom: -2rem;
}
body {
  background-color: black;
}
.maintitle {
  color: white;
  text-align: end;
  font-size: 2.75rem;
  line-height: 2.75rem;
}
.details {
  background-color: #555050;
  color: white;
  padding-left: 14rem;
  padding-right: 4rem;
  margin-top: -13rem;
  border-radius: 10px;
}
.avatar {
  border-radius: 120px;
}
#programs {
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin-bottom: -50px;
}

#programs td,
#programs th {
  border: 1px solid #ddd;
  padding: 8px;
  color: black;
}

#programs tr:nth-child(even) {
  background-color: #f2f2f2;
}

#programs tr:hover {
  background-color: #ddd;
}

#programs th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #909491;
  color: white;
}

form {
  padding: 1rem;
  background-color: #555050;
  border-radius: 10px;
}

input#email {
  width: 20%;
  margin-bottom: 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 80px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.more {
  color: ghostwhite;
  text-transform: uppercase;
  margin-bottom: -2rem;
}
.link {
  margin: -30px;
}
input#email {
  width: 50%;
  height: 30px;
  border-radius: 10px;
}
.radioWrapper {
  display: inline-flex;
}
.radio {
  display: flex;
  padding-right: 20px;
}
label.radioLabel {
  padding-left: 10px;
}
.optionsWrapper {
  display: grid;
  padding: 30px;
}
.option {
  display: flex;
  align-items: center;
}
.optionInput {
  margin-right: 10px;
}
input.submitButton {
  background-color: darkslategrey;
  padding: 10px;
  border-width: thick;
  border-style: groove;
  border-radius: 10px;
  border-color: darkslategray;
}
