#programs {
  border-collapse: collapse;
  width: 40%;
}

#programs td,
#programs th {
  border: 1px solid #ddd;
  padding: 8px;
}

#programs tr:nth-child(even) {
  background-color: #f2f2f2;
}

#programs tr:hover {
  background-color: #ddd;
}

#programs th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #909491;
  color: white;
}
form {
  padding: 1rem;
}
input#email {
  width: 20%;
  margin-bottom: 1rem;
}
img {
  padding: 2rem;
  margin-left: 4rem;
}
