* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  width: 100%;
  min-height: 20%;
  background-color: #6495ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-responsive {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 250px;
  margin: 20px;
}
.nav-links {
  display: inline-flex;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  display: inline;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.nav-item {
  text-align: justify;
  min-width: 400px;
}
h1.brand {
  display: inline-flex;
  align-self: center;
  color: white;
  font-size: x-large;
  font-family: "Montserrat";
  font-weight: normal;
  margin: 0px 0px 0px 34px;
}
li a:hover:not(.active) {
  background-color: #3460b1;
}
